@use 'vars' as *;

body {
  background: linear-gradient(to bottom, $light-background, $lighter-background);
}

p {
  color: $text-color;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

strong {
  color: $strong-color;
}

.subtitle {
  color: $text-color;
  opacity: $low-contrast;
}