@use 'vars';
@use 'mixins';

:root {
  // Typography
  --font-size-xl: #{mixins.font-size(12)};
  --line-height-xl: #{mixins.line-height(12)};
  --text-max-width: #{vars.$text-max-width};
  --title-font: #{vars.$title-font};

  // Colors
  --background-text-color: #{vars.$background-text-color};
  --light-background: #{vars.$light-background};
  --lighter-background: #{vars.$lighter-background};
  --lighter-text-color: #{vars.$lighter-text-color};
  --link-color: #{vars.$link-color};
  --low-contrast: #{vars.$low-contrast};
  --text-color: #{vars.$text-color};
  --translucid-light-background: #{vars.$translucid-light-background};

  // Shadows
  --button-shadow: #{vars.$button-shadow};

  // Layout
  --container-max-width: #{vars.$container-max-width};
  --share-container-max-width: #{vars.$share-container-max-width};
  --space: #{vars.$space * 1rem};
  --social-icon-size: #{mixins.font-size(2)};
  --social-button-size: #{mixins.line-height(2)};
}