@use 'vars' as *;

// Containers
section,
nav {
  margin: 0 auto;
}

ol,
ul {
  padding-left: $space * 1rem;
}

body {
  margin: 0;
  overflow-x: hidden;
}

nav {
  max-width: $post-container-max-width;
}

// Elements
h1 {
  $hero-space: 2rem * $space;
  margin: $hero-space 0 $hero-space;
}

h2,
h3,
h4,
h5,
h6 {
  margin: $space * 2rem 0 $space * 1rem;
}

pre {
  border-radius: $space * 0.5rem;
  margin: $space * 0.5rem 0;
  padding: $space * 0.5rem;
}

p {
  margin: $space * 1rem 0;
}

.button {
  border-radius: 50%;
  display: inline-block;
  font-weight: 700;
  margin: 0.5rem * $space 0;
  padding: 0.5rem * $space $space * 1rem;
}

.subtitle {
  display: block;
}

.post-title {
  margin: 0;
}

.text {
  max-width: $text-max-width;
  padding: 0 $space * 1rem;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}