---
const today = new Date();
---

<footer>
	<section>
		<p>&copy; {today.getFullYear()} Sebastián Salazar Ramírez.</p>
	</section>
</footer>
<style>
	footer {
		margin: calc(4 * var(--space)) 0;
	}
	p {
		text-align: center;
		opacity: var(--low-contrast);
	}
</style>
