---
import { BASE_URL } from "@src/consts.js";
import LinkButton from "@components/LinkButton.astro";

const { text, path } = Astro.props;
---

<header>
	<nav>
		<LinkButton text={text} href={`${BASE_URL}${path}`} />
	</nav>
</header>
<style>
	nav {
		margin: calc(var(--space) / 2) auto;
	}
</style>
