---
const { image, alt, title } = Astro.props;
---

<section class="container">
  {image && <img src={image} alt={alt} />}
  <div class="text">
    <h3>{title}</h3>
    <slot />
  </div>
</section>
<style>
  section,
  .text {
    position: relative;
  }

  section {
    mix-blend-mode: multiply;
  }

  img {
    bottom: 0;
    max-height: calc(8 * var(--space));
    opacity: 0.5;
    position: absolute;
    right: 0;
  }

  p {
    margin-bottom: 0;
  }

  .text {
    background-image: linear-gradient(
      to top,
      transparent,
      var(--lighter-background) calc(8 * var(--space))
    );
    margin: 0 auto;
    padding-bottom: calc(5 * var(--space));
  }

  .container {
    max-width: var(--text-max-width);
  }

  @media (min-width: 1000px) {
    .container {
      &:has(img) {
        max-width: var(--container-max-width);
        .text {
          padding-right: calc(var(--space-factor) * var(--space));
        }
      }
    }

    .text {
      --space-factor: 5;
      background-image: linear-gradient(
        to left,
        transparent,
        var(--lighter-background) calc(17 * var(--space))
      );
      max-width: calc(
        var(--text-max-width) + (var(--space-factor) - 1) * var(--space)
      );
      padding-bottom: calc(2 * var(--space));
    }
  }
</style>
