---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

const { title, description } = Astro.props
---
<!doctype html>
<html lang="es">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-KZ0JGBWSRT"></script>
		<script>
			console.log('gtag');
			console.log(window);
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-KZ0JGBWSRT');
		</script>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>